* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
body>main {
    display: flex;
    flex-direction: row;
    background-color: #2b2743;
    height: 92vh;
}
main>nav {
    background-color: #2f2b45;
    color:white;
    width: 20vw;
    min-width: 150px;
    white-space: nowrap;
}
main>#homepage {
    background-color: #29263f;
    width: 80vw;
}
main>nav img {
    height: 6vh;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
main>nav div {
    margin-left: 3vw;
    margin-block: 30px;
}
main>nav h4 {
    font-weight: normal;
    color: #b7b1d9;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 16px;
}
main>nav li {
    list-style-type: none;
    margin-block: 0px;
    padding: 7px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
main>nav li.active {
    background-image: linear-gradient(90deg,#b7b1d955, #2f2b45);
    border-right: 3px solid white;
    padding-block: 10px;
}
main>nav li.active a {
    color: white;
    font-weight: bold;
}
main>nav i {
    margin-inline-end: 15px;
}
main>nav a {
    text-decoration: none;
    color: #b7b1d9;
    font-size: 14px;
}
main>nav button {
    background-color: transparent;
    color: #b7b1d9;
    border: 2px dashed white;
    padding: 10px 10px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
main>nav button i {
    margin-inline-end: 5px;
}
main>#homepage {
    width: 85vw;
}
#homepage>header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    border-bottom: 0.5px solid #b7b1d945;
}
header>nav {
    display: flex;
    flex-direction: row;
}
header>nav li {
    list-style-type: none;
    padding-block: 30px;
    margin-inline: 15px;
    font-size: 13px;
}
header>nav li.active {
    border-bottom: 3px solid white;
}
header>nav li.active a {
    font-weight: bold;
    color: white;
} 
header>nav a {
    color:#b7b1d9;
    text-decoration: none;
}
#userarea {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#userarea img {
    height: 50px;
}
#userinfo {
    text-align: right;
}
#userinfo h4 {
    color: white;
    font-weight: normal;
}
#userinfo #user-dropdown {
    position: relative;
}
#user-dropdown #drop-btn {
    background-color: transparent;
    border: none;
    color: #b7b1d9;
}
#user-dropdown #drop-content {
    display: none;
    background-color: #b7b1d9;
    border-radius: 15px;
    padding: 7px;
    position: absolute;
    right: 0;
    z-index: 1;
}
#user-dropdown #drop-content a {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    padding: 5px 10px;
}
#drop-content a:hover {
    box-shadow: 5px 5px 8px #625e78;
}
#user-dropdown:hover #drop-content {
    display: block;
}
#music-area>aside {
    position: relative;
    right: 0;
    min-width: 300px;
    padding: 30px;
    padding-left: 20px;
    padding-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 72vh;
}
#music-area>aside::-webkit-scrollbar {
width: 8px;
}
#music-area>aside::-webkit-scrollbar-track {
background:  #2f2b45; 
}

#music-area>aside::-webkit-scrollbar-thumb {
background:  #b7b1d9;
border-radius: 20px;
}
#music-area>aside::-webkit-scrollbar-thumb:hover {
background:  #6f6896; 
}
#music-area>aside h5 {
    font-size: 17px;
    color: white;
}
#music-area>aside .song-profile {
    margin-block: 5px;
    padding: 5px;
}
.song-profile #icon-underlay {
    margin-left: 10px;
    padding: 10px 12px 8px 14px;
    background-color: #b7b1d9a0;
    border-radius: 30px;
}
.song-profile #icon-underlay i {
    color: white;
}
#music-area {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#music-area>main {
    width: 63vw;
    margin-left: 30px;
    margin-block: 30px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 72vh;
}
#music-area>main::-webkit-scrollbar {
    width:0;
}
#music-area>main::-webkit-scrollbar-track {
    background:  #2f2b45; 
}
#music-area>main::-webkit-scrollbar-thumb {
    background:  #b7b1d9;
    border-radius: 20px;
}
#music-area>main::-webkit-scrollbar-thumb:hover {
    background:  #6f6896; 
}
#hero-section {
    position: relative;
    height: 220px;
    border-radius: 20px;
    color: white;
    padding: 30px;
    background-image: linear-gradient(270deg,#b9acff, #2f2b45);
}
#hero-section h1 {
    font-size: 45px;
    margin-bottom: 15px;
}
#hero-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: normal;
}
#hero-section h2 {
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: normal;
}
#hero-section #cta {
    display: flex;
    flex-direction: row;
}
#hero-section #cta button:nth-child(1) {
    background-color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
}
#hero-section #cta button:nth-child(2) {
    background-color: transparent;
    border: 1px solid white;
    padding: 6px 10px 4px 10px;
    font-size: 20px;
    color: white;
    margin-inline: 30px;
    border-radius: 30px;
}
#hero-section #cta #cta-text {
    display: flex;
    flex-direction: column;
}
#hero-section img {
    position: absolute;
    height: 300px;
    bottom: 0;
    right: 0;
    border-radius: 20px;
}
.music-area-lists {
    margin-block: 30px;
}
.music-area-lists header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;
}
.music-area-lists header h5 {
    font-size: 20px;
    color: white;
}
.music-area-lists header span {
    font-size: 12px;
    border-bottom: 1px dashed white;
}
.music-area-lists #song-list {
    display: flex;
    flex-direction: row;
}
#song-list .song-thumbnail{
    margin: 5px;
}
#song-list .song-thumbnail img {
    height: auto;
    width: 100%;
}
#song-list .song-thumbnail .thumbnail-song-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #b7b1d9;
}
#song-list .song-thumbnail .thumbnail-song-info span:nth-child(1) {
    color: white;
}
#song-list .song-profile {
    margin: 5px;
    flex-direction: column;
    align-items: start;
}
#song-list .song-profile img {
    height: auto;
    width: 100%;
}
#song-list .song-profile #song-info {
    margin-left: 0;
}
footer {
    position: fixed;
    bottom: 0;    
    width: 100vw;
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;     
    background-color: #191628;
    padding: 10px 20px;
    color:#b7b1d9;
}
#music-controls span {
    color: white;
}
#music-controls input[type="range"] {
    width: 30vw;
    margin-inline: 20px;
}
#wishlist-controls #remove-from-wishlist {
    color: red;
    display: none;
}
#audio-controls {
    margin-right: 40px;
}
.song-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#b7b1d9;
}
.song-profile img {
    height: 6vh;
    margin-right: 10px;
}
#song-info span:nth-child(1) {
    font-size: 15px;
    color: white;
    display: block;
    margin-right: 30px;
}
#song-info span:nth-child(2) {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    margin-right: 30px;
}
.song-profile #song-views {
    font-size: 12px;
}

@media screen and (max-width: 1250px) {
    #song-views {
        display: none;
    }
    #music-area>aside {
        min-width: 250px;
    }
    #hero-section h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    #hero-section h3 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    #hero-section h2 {
        font-size: 17px;
        margin-bottom: 15px;
    }
    #hero-section #cta {
        display: block;
    }
    #hero-section #cta button:nth-child(1) {
        
    }
    #hero-section #cta button:nth-child(2) {
        position: absolute;
        top: 20px;
        right: 0;
    }
    #hero-section #cta #cta-text {
        margin-top: 40px;
    }
}
@media screen and (max-width: 1000px) {
    #music-area>aside {
        display: none;
    }
    #music-area>main {
        width: 72vw;
    }

}